**/node_modules
**/.git
**/.dockerignore
**/.gitignore
**/*.log
**/dist
**/tmp
**/.env
**/.env.*
**/pnpm-debug.log*
**/.npm
**/.cache
**/.idea
**/.vscode
**/bower_components
**/vendor
**/test-results
**/coverage
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml.tmp
